/*
/* fonts  */
/*@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');
*/
body {

    margin: 0;
    padding: 01em;
    /*height: 300px;
    width: 300px;*/
    background-color: F8F8F8;

}

html {
    font-family: 'Space Mono', monospace !important;
    height: 200px;
    width:300px;
}


#container {
    font-family: 'Space Mono', monospace !important;
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;


}

#container h2 {
    letter-spacing: 2px;
    margin: 0;
    text-align: center;

}

#container p {

    margin: 3px 0 1.5em 0;
    font-size: 1.3em;
    color: #7d7d7d;
}

#container input {
    /* 	background: rgba(255, 13, 254, 0.90); */
    width: 95%;
    margin: 1em 0 0 0;
    text-align: center;
    background: #eee;
    padding:0.6em;
    outline: none;
    border: 2px solid cadetblue;
    color: #222;
    transition: 0.3s linear;
}

::placeholder {
    color: #000000;
}

#container input:focus {
    background: #ffffff;
}

#container button {
    font-family: 'Space Mono', monospace !important;
    background-color:cadetblue;
    padding:0.6em;
    margin: 1em 0 0 0;
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    border: none;
    transition: 0.1s linear;
    width: 100%;
}

#container button:hover {
    background-color: #34f6f1;
    color: #012827;
}

#container button:active {
    background-color: #016c6a;
}

/*html{*/
/*height: 500px;*/
/*    width:400px;*/
/*    overflow: hidden !important;*/
/*}*/
/*body {*/
/*    margin:0;*/
/*    padding:0;*/
/*    background: linear-gradient(#141e30, #243b55);*/
/*}*/

/*.login-box {*/
/*    width: 100%;*/
/*    padding: 40px;*/
/*    background: rgba(0,0,0,.5);*/
/*    box-sizing: border-box;*/
/*}*/

/*.login-box h2 {*/
/*    margin: 0 0 30px;*/
/*    padding: 0;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*}*/

/*.login-box .user-box {*/
/*    position: relative;*/
/*}*/

/*.login-box .user-box input {*/
/*    width: 100%;*/
/*    padding: 10px 0;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    margin-bottom: 30px;*/
/*    border: none;*/
/*    border-bottom: 1px solid #fff;*/
/*    outline: none;*/
/*    background: transparent;*/
/*}*/
/*.login-box .user-box label {*/
/*    position: absolute;*/
/*    top:0;*/
/*    left: 0;*/
/*    padding: 10px 0;*/
/*    font-size: 16px;*/
/*    color: #fff;*/
/*    pointer-events: none;*/
/*    transition: .5s;*/
/*}*/

/*.login-box .user-box input:focus ~ label,*/
/*.login-box .user-box input:valid ~ label {*/
/*    top: -20px;*/
/*    left: 0;*/
/*    color: #03e9f4;*/
/*    font-size: 12px;*/
/*}*/

/*.login-box form a {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    padding: 10px 20px;*/
/*    color: #03e9f4;*/
/*    font-size: 16px;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    overflow: hidden;*/
/*    transition: .5s;*/
/*    margin-top: 40px;*/
/*    letter-spacing: 4px*/
/*}*/

/*.login-box a:hover {*/
/*    background: #03e9f4;*/
/*    color: #04255e;*/
/*    border-radius: 5px;*/
/*}*/

/*.login-box a span {*/
/*    position: absolute;*/
/*    display: block;*/
/*}*/

/*.login-box a span:nth-child(1) {*/
/*    top: 0;*/
/*    left: -100%;*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background: linear-gradient(90deg, transparent, #03e9f4);*/

/*}*/



